$blue-100: hsl(212, 24%, 26%);
$blue-200: hsl(238, 40%, 52%);
$blue-gray: hsl(211, 10%, 45%);

$red-200: hsl(358, 79%, 66%);
$red-300: hsl(357, 100%, 86%);

$gray-200: hsl(239, 57%, 85%);
$gray-300: hsl(223, 19%, 93%);
$gray-400: hsl(228, 33%, 97%);
